yookassa==3.5.0
pycountry==23.12.11
pydantic_settings
sqlalchemy[asyncio]==2.0.29
asyncpg==0.29.0
alembic==1.13.1
aiocryptopay==0.4.8
aiogram==3.21.0
python-dotenv==1.0.1
aiohttp==3.12.14
aiohttp-jinja2==1.6
aiohttp-session==2.12.0
jinja2==3.1.4
passlib[bcrypt]==1.7.4
python-dateutil==2.9.0.post0
pydantic==2.7.1
